* {
    margin: 0;
    padding: 0;
}
body {
    background: #122981 url(../img/gradient_bg.jpg) repeat-x;
    font: 13.34px Helvetica, Arial, sans-serif;
    font-size: small;
    color: #fff;
}
.site {
    font-size: 115%;
    text-align: justify;
    width: 500px;
    margin: 110px auto 0;
    line-height: 1.5em;
}
img{
    max-width: 100%;
}
a         { color: #fff; }
a:hover   { color: #08c; text-decoration: none;}
#site-name a{
    font-size: 45px;
    color: #fff;
    font-weight: bold;
}

#author-name{
    font-size: 22px;
    padding:10px 0;
}
.bg_img1 {
    background: url(../img/clouds.jpg) repeat-x;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 104px;
    z-index: -2;
}
.bg_img2 {
    background: url(../img/water_edge.jpg) repeat-x;
    top: 104px;
    position: absolute;
    right: 0px;
    width: 100%;
    height: 75px;
    z-index: -2;
}
.bg_img3 {
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../img/sunlight.jpg) no-repeat;
    z-index: -1;
    width: 472px;
    height: 481px;
}
.bg_img4 {
    position: absolute;
    top: 220px;
    left: 20px;
    background: url(../img/fish_top.gif) no-repeat;
    z-index: -1;
    width: 180px;
    height: 80px;
}

.page_number{
    color: #333;
}

#contact-info{
    padding-bottom: 20px;
}
.post-title h2 {
    font-size: 32px;
    padding-bottom: 3px;
    border-bottom: 1px #ccc solid;
}
.post-date {                                                                        
    color: #aaa;
}             
#footer{
    margin-top: 100px;
    padding: 10px 0 20px 0;
    border-top: 1px #ff6600 solid;
}
.bottom_fish {
    width: 224px;
    height: 110px;
    margin: -110px 0 0 560px;
    background: url(../img/fish_bottom.gif) no-repeat;
}
#category, #tag {
    color: #08c;
}
#category a {
    color: #ff6600;
}
#tag a {
    color: #ff6600;
}
.tab-content{
    padding-top:10px;
}
.badge { 
    color: #08c; 
}
#c-title{
    color: #ff6600;
}
#t-title{
    color: #ff6600;
}